<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeVerse</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="overview">
        <h2>Overview</h2>
        <p>TimeVerse is an innovative platform that redefines the way we connect through time. It enables users to create digital time capsules, encapsulating messages, images, and videos for themselves or their chosen recipients in the future. With TimeVerse, you can choose to set specific delivery dates or let the element of surprise add an extra layer of excitement. Whether it's preserving life-changing milestones, sharing heartfelt advice, or simply reliving precious memories, TimeVerse offers a seamless and personalized experience. Keep your capsules private or share them with the wider community, forging connections that transcend time itself.</p>
    </section>


    <section class="links">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </section>
</body>

</html>

