body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(ellipse at center, #000033 0%, #000000 100%);
    color: #ffffff;
}

header {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 3em;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
    text-align: center;
    margin-right: 2%;
    margin-left:2%;
}
.footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 0;
}


/* style.css */

.time-capsule {
    border: 2px solid #fff;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000033;
}

.time-capsule h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.time-capsule p {
    margin: 1;
}

.time-capsule h4 {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 5px;
}
